<div class="card">
    <div class="card-header">
        <button class="btn btn-sm btn-outline-info px-5" (click)="searchCustomer()">Search</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <label class="label">First Name</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" (ngModelChange)="onChanged()" required #firstName="ngModel" [(ngModel)]="customer.firstName"/>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                  class="alert alert-danger m-0 p-0">
                <div *ngIf="firstName.errors?.required">
                  First name is required. 
                </div>
              </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-sm-3">
                <label class="label">Last Name</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" #lastName="ngModel" required (ngModelChange)="onChanged()" [(ngModel)]="customer.lastName"/>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                  class="alert alert-danger m-0 p-0">
                <div *ngIf="lastName.errors?.required">
                  Last name is required. 
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-sm-3">
                <label class="label">Email</label>
            </div>
            <div class="col-8">
                <input type="email" class="form-control" #email="ngModel" (ngModelChange)="onChanged()" required [(ngModel)]="customer.email" pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"/>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger m-0 p-0">
                <div *ngIf="email.errors?.required">
                  Email is required. 
                </div>
                <div *ngIf="email.errors?.pattern">
                  Email is invalid.
            </div>
        </div>

        <div class="row my-2">
            <div class="col-sm-3">
                <label class="label">Confirm Email</label>
            </div>
            <div class="col-8">
                <input type="email" placeholder="Confirm email" [(ngModel)]="confirmEmailAddr" #confirmEmail="ngModel" required class="form-control" pattern="{{email.value}}"/>
                <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched || email.dirty || email.touched) && confirmEmail.errors?.pattern"
                  class="alert alert-danger m-0 p-0">
                   Email does not match
                </div>
            </div>
        </div>

        <app-addresses [addresses]="customer.addresses" [customerId]="customer.id"></app-addresses>

        <pre></pre>
        <button class="btn btn-sm btn-outline-info px-5" (click)="saveCustomer()">Save</button>
</div>
